@use '@angular/material' as mat;
@use '../_theme-colors' as themeColors;
@import 'normalize.css';
@include mat.app-background();
@include mat.elevation-classes();

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: themeColors.$primary-palette,
        secondary: themeColors.$secondary-palette,
        tertiary: themeColors.$tertiary-palette,
        theme-type: light
      ),
      typography: Roboto,
      density: -5
    )
  );
  body {
    height: 100%;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    margin: 0;

    mat-hint {
      .mdc-icon-button {
        @include mat.icon-button-overrides(
          (
            icon-size: 18px
          )
        );
      }
    }

    app-root {
      height: 100%;
    }
    mat-form-field {
      .mdc-text-field--outlined {
        background: var(--mat-sys-on-primary);
      }
    }

    markdown {
      * {
        margin: 6px 0;
      }
    }
  }
} /* You can add global styles to this file, and also import other style files */
