@use '@angular/material' as mat;
@import 'normalize.css';
@include mat.app-background();
@include mat.elevation-classes();

html {
  height: 100%;
  @include mat.theme(
    (
      typography: Roboto,
      density: -5
    )
  );
  body {
    height: 100%;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    margin: 0;
    app-root {
      height: 100%;
    }
    mat-form-field {
      .mdc-text-field--outlined {
        background: var(--mat-sys-on-primary);
      }
    }

    markdown {
      * {
        margin: 3px 0;
      }
    }
  }
} /* You can add global styles to this file, and also import other style files */
